.content{
    width: 90%;
    margin: 1.4rem auto;
}
.titulo{
    text-align: center;
    margin-bottom: 3rem;
}
.titulo h1{
    font-size: 2rem;
    font-weight: 500;
    
}
button{
    margin-bottom: .6rem;
}
.tabela{
   width: 100%; 
}
.cats{
    color: blue;
    margin-left: .6rem;
}
.editar{
    color: chocolate;
    
}
.delete{
    color: red;
}

.mat-header{
    width: 5rem;
}