<form>
    <h1>add nova categoria</h1>
    <mat-form-field class="form">
        <mat-label>Categoria</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text"   name="nome"   placeholder="Ex. informática">
    </mat-form-field>

    <div class="buttons">
         <button class="mat-elevation-z8" (click)="onCreate()"   mat-stroked-button color="primary">salvar</button>
         <button class="mat-elevation-z8"   mat-stroked-button color="warn">cancelar</button>
    </div>
</form>
