<div class="container">
    <form class="form mat-elevation-z8" [formGroup]="cadForm" (ngSubmit)="logar()"> 
        <h1>Gestão de pessoa</h1>
        <img mat-card-image src="assets/img/registration.jpg" alt=""/>
        <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="username" type="text"  name="username"   placeholder="Ex.: comercio@tst.com" required >
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password"  name="password"   placeholder="Ex.: 123" required>
        </mat-form-field>

        <button [disabled]="!validarCampos()"  class="full-width mat-elevation-z4" mat-stroked-button color="primary" >Logar</button>
        
    </form>
  

</div>